<h3 class="text-center">Penerbit Master</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="2"><input class="form-control" type="text" [(ngModel)]="newPenerbit.namaPenerbit" placeholder="Nama Penerbit" /></td>
          </tr>
          <tr>
            <td colspan="2"><input class="form-control" type="text" [(ngModel)]="newPenerbit.kodePenerbit" placeholder="Kode Penerbit" /></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right; padding-top: 150px"><a (click)=" onInsertNewPenerbit()" class="btn btn-primary">Save Data</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>